@using Entities;
@using Web.Infrastructure
@model Player

<div>
    @Html.FieldFor((Player x) => x.FirstName)
    @Html.FieldFor((Player x) => x.LastName)
    @Html.FieldFor((Player x) => x.Name)
    @Html.FieldFor((Player x) => x.UserName)
</div>