@model Web.Models.RankingViewModel

<table class="rank-table fancy">
    <thead>
        <tr>
            <td>Position</td>
            <td>Name</td>
            <td>Elo</td>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Ranks.Count(); i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td class="name">
                    <div>@Model.Ranks[i].Subject.Name</div>
                </td>
                <td>@Model.Ranks[i].Elo</td>
            </tr>
        }
    </tbody>
</table>
