@using Entities
@model Web.Models.RankingViewModel

<span>Top 10 best 
@{
    Write(Model.SubjectType == typeof (Team) ? "teams" : "players");
}:</span>

<table class="rank-table">
    <thead>
    <tr>
        <td>&nbsp;</td>
        <td>Name</td>
        <td>Elo</td>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Ranks.Count(); i++)
    {
        <tr>
            <td>@(i + 1)</td>
            <td class="name">
                <div>@Model.Ranks[i].Subject.Name</div>
            </td>
            <td>@Model.Ranks[i].Elo</td>
        </tr>
    }
    </tbody>
</table>
