@model IEnumerable<Entities.Tournament>

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/Tournament.css">
}

Current Tournaments: 
<div class="tournaments">
    @foreach (var tournament in Model)
    {
        <ul class="tournament">
            <li>
                @Html.ActionLink(tournament.Name, "Detail", new { controller = "Tournament", id = tournament.Id }) - @tournament.Status.ToString()
            </li>
        </ul>
    }
</div>