<!DOCTYPE html>
<html lang="en">
<head>
    <title>IBCS</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
    <div class="main">
        <header>
            <div class="logo">
                <div class="text">
                    <a href="#">Intelex Billiard Championship Series</a>
                </div>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="selected"><a href="#">A Page</a></li>
                <li><a href="#">Another Page</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">bla</a></li>
            </ul>
        </header>
        <div class="content">
            <div class="left">
                @RenderBody()
            </div>
            <div class="right">
                <div class="sidebar">
                    <div class="top">
                    </div>
                    <div class="item">
                    </div>
                    <div class="bottom">
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <footer>
            <p>
                <a href="#">Home</a> |
                <a href="#">Examples</a> |
                <a href="#">A Page</a> |
                <a href="#">Another Page</a> |
                <a href="#">Contact Us</a>
            </p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
