.profile {
    
}

    .profile .field {
        padding: 5px;
    }

        .profile .field .label {
            line-height: 2em;
        }

        .profile .field .value input {
            line-height: 1.5em;
            outline: none;
        }

    .profile input[type=submit] {
        background: transparent;
        border: 0;
        cursor: pointer;
        margin: 8px 0 0 8px;
        font-weight: bold;
    }

    .profile input[type=submit]:hover {
        text-decoration: underline;
    }

    .profile .validation {
        padding: 10px;
    }

        .profile .validation ul {
            list-style: none;
        }

        .profile .validation li {
            font-weight: bold;
        }