/*******************************************
    GENERAL SETTINGS
*******************************************/
html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #F2F2F2;
    color: #151D26;
}

img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0em;
    padding: 0 0 5px 0;
}

h1, h2, h3 {
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

h2 {
    font-size: 160%;
    padding: 9px 0 5px 0;
}

h3 {
    font-size: 140%;
    padding: 5px 0 0 0;
}

h4, h6 {
    padding: 0 0 5px 0;
    font: normal 110% arial;
    text-transform: uppercase;
}

h5, h6 {
    font: normal 95% arial;
    letter-spacing: normal;
    padding: 0 0 15px 0;
}

a, a:hover {
    outline: none;
    text-decoration: underline;
    color: #F29979;
}

    a:hover {
        text-decoration: none;
    }

blockquote {
    margin: 20px 0;
    padding: 10px 20px 0 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
}

input[type=submit] {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 8px 0 0 8px;
    font-weight: bold;
}

input[type=submit]:hover {
    text-decoration: underline;
}

/*******************************************
    DOCUMENT
*******************************************/
.main {
    width: 800px;
    margin: 0 auto;
}

    .main header {
        position: relative;
        height: 160px;
    }

        .main header .logo {
            height: 140px;
        }

            .main header .logo .text {
                position: relative;
                top: 30px;
                font: normal 300% 'century gothic', arial, sans-serif;
                border-bottom: 0;
                text-transform: none;
                margin: 0 0 0 9px;
            }

                .main header .logo .text a, .main header .logo .text a:hover {
                    padding: 22px 0 0 0;
                    color: #0054BB;
                    letter-spacing: 0.1em;
                    text-decoration: none;
                }

        .main header ul {
            float: right;
            margin: 0;
        }

            .main header ul li {
                float: left;
                padding: 0 0 0 9px;
                list-style: none;
                margin: 1px 2px 0 0;
            }

                .main header ul li a {
                    float: left;
                    text-align: center;
                    text-decoration: none;
                }

                    .main header ul li a:hover {
                        text-decoration: underline;
                    }

                .main header ul li.selected a {
                    color: #8C8564;
                }

    .main .content {
        margin-top: 20px;
    }
    
        .main .content .left {
            text-align: left;
            width: 69%;
            padding-right: 5px;
            float: left;
            min-height: 400px;
        }

        .main .content .right {
            width: 30%;
            float: left;
        }

            .main .content .right .sidebar {
                float: right;
                width: 222px;
                padding: 0;
                margin: 0 0 16px 0;
            }

                .main .content .right .sidebar .top {
                    width: 222px;
                    height: 14px;
                    background: transparent url("images/side_top.png") no-repeat;
                }

                .main .content .right .sidebar .bottom {
                    width: 222px;
                    height: 14px;
                    background: url("images/side_base.png") no-repeat;
                }

                .main .content .right .sidebar .item {
                    padding: 0 15px;
                    width: 190px;
                    background-color: #FFF;
                    border-left: 1px solid #E0E0E0;
                    border-right: 1px solid #E0E0E0;
                }

                .main .content .right .sidebar .item ul {
                    list-style: none;
                }

    .main footer {
        height: 80px;
        padding: 28px 0 5px 0;
        text-align: center;
        background: #3B3939 url("images/footer.png") repeat-x;
        color: #CAD996;
    }

        .main footer p {
            line-height: 1.7em;
            padding-bottom: 10px;
        }

        .main footer a {
            color: #CAD996;
            text-decoration: none;
        }

            .main footer a:hover {
                text-decoration: underline;
            }

/*******************************************
    Wrappers
*******************************************/
.field {
    padding: 5px;
}

    .field label {
        line-height: 2em;
    }

    .field .value input {
        line-height: 1.5em;
        outline: none;
    }
/*******************************************
    Validation
*******************************************/
.profile .validation,
.signup .validation
{
    padding: 10px;
}

    .profile .validation ul, 
    .signup .validation ul
    {
        list-style: none;
    }

    .profile .validation li,
    .signup .validation li 
    {
        font-weight: bold;
    }